/* --- MAIN ------------------------------ */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 101px);
    padding: 00px 10px 0px 10px;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
}

.container{
    background-image: url(02-ressources/02-img/TOPO1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.container h1{
    color: #FFFFFF;
    font-size: 8rem;
}

/* --- FOOTER ------------------------------ */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    height: 40px;
    margin: 0 20px;
}

.footer-link a{
    margin-left: 8px;
}

/* --- RESPONSIVE ------------------------------ */

@media(max-width: 1250px){

}

@media(max-width: 776px){

}